/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Nunito);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: white;
  font: 13px Arial, 'Nanum Gothic', 'Apple Gothic', monospace;
  font-size: small;
  text-align: center;
}

h1{
    font-family: 'Nunito', 'Nanum Gothic', 'Apple Gothic', sans-serif;
    font-weight: bold;
    font-size: 250%;
    padding: 10px 0 10px 0;
}

h2{
    font-family: 'Nunito', 'Nanum Gothic', 'Apple Gothic', sans-serif;
    margin: 20px 0 20px 0;
 	padding: 10px 10px 10px 0;
    font-weight: bold;
    font-size: 200%; 
}

h3{
	font-family: 'Nunito', 'Nanum Gothic', 'Apple Gothic', sans-serif;
    font-weight: bold;
    font-size: 150%;
	line-height: 1.7em;
 } 
 
h4, h5, h6 {
  font-family: 'Nunito', 'Nanum Gothic', 'Apple Gothic', sans-serif;
  font-size: 100%; 
  line-height: 1.7em;
}

h1 { margin-bottom: 0.1em; }
p { margin: 1em 0; }

a         { text-decoration: underline; color: #000; }
a:hover   { text-decoration:line-through; color: #000; background-color: gray;}
a:visited { text-decoration: none; color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  color: #000;
  border-top: 4px solid #eee;
  overflow: hidden;
  list-style-type: none;
  font-family: 'Nunito', 'Nanum Gothic', sans-serif;
  font-size: 200%;
  font-weight: bold;
  text-align: justify;
}

.posts li {
  margin-left: 1em;
  line-height: 2.2em;
}

.posts span {
  color: #aaa;
  font-family: 'Nunito', 'Nanum Gothic', sans-serif;
  font-size: 200%;
  float: right;
  line-height: 2.2em;
  margin-right: 1em;
}

.posts 
a         { text-decoration: none; color: #000; }
a:hover   { text-decoration:line-through; color: #000; background-color: gray;}
a:visited { text-decoration: none; color: #000; }


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  max-width: 650px;
  width: 90%;
  
}
.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  color: white;
  display: inline-block;
 
}

.title a {
  color: #000;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
    color: #aaa;
    font-family: 'Nunito', 'Nanum Gothic', sans-serif;
    border-top: 4px solid #eee;
    overflow: hidden;
	font-size: 90%;
	
}

.footer {
  padding-top: 1.5em;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

.footer .contact {
  float: left;
  font-family: 'Nunito', 'Nanum Gothic', sans-serif; 
  font-size: 90%; 
}

.footer .contact a {
  color: #4c4c4c;
}

.footer .rss {
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}
.post img {
    max-width: 100%;
    height: auto;
}
.post code {
  font: medium monospace;
  border: 1px solid #eee;
  background-color: #eee;

}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
