<div class="container">
  <div class="row-fluid">
    <div class="span8 offset2">
     <div class="post-header">
	     <div id = "about-text">
	       <p>
	         <h1><b>THYNG's TECH BLOG</b></h1>
	       </p>
	     </div>
<!-->        <ul>
          <div id = "page-menu">
            <li><a href = "/" title = "Blog">Blog</a></li>
            <li><a href = "/tools" title = "Tools">Tools</a></li>
            <li><a href = "/quotes" title = "Quotes">Quotes</a></li>
            <li><a href = "/reading" title = "Reading">Reading</a></li>
            <li><a href = "/media" title = "Media">Media</a></li>-->
          </div>  
      </div>
      <hr>